name: Build
on:
  workflow_call:
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Install langtags package and depedencies
      run: pip install .
    - name: Find latest SLDR dependency
      uses: actions/github-script@v7
      id: find-sldr
      with:
        script: |
          const result = await github.rest.actions
            .listArtifactsForRepo({
              owner: "silnrsi",
              repo: "sldr"
            })
          const artifact = result.data.artifacts[0]
          console.log(artifact)
          return artifact
    - uses: actions/cache@v4
      id: cached-sldr
      with:
        path: |
          unflat
          flat
        key: sldr-${{fromJSON(steps.find-sldr.outputs.result).id}}
    - name: Download the SLDR dependency
      if: steps.cached-sldr.outputs.cache-hit != 'true'
      uses: actions/github-script@v7
      env:
        artifact_id: ${{fromJSON(steps.find-sldr.outputs.result).id}}
      with:
        script: |
          const fs = require('fs')
          const response = await github.rest.actions
            .downloadArtifact({
              owner: "silnrsi",
              repo: "sldr",
              artifact_id: process.env.artifact_id,
              archive_format: "zip"
            })
          fs.writeFileSync('sldr.zip', Buffer.from(response.data))
    - name: Extract SLDR dependency
      if: steps.cached-sldr.outputs.cache-hit != 'true'
      run: |
        unzip -q sldr.zip
        rm sldr.zip
    # Build it
    - name: Generate langtags
      run: |
        make SLDR=unflat FLATDIR=flat build
    - uses: actions/upload-artifact@v4
      with:
        name: langtags
        path: |
          pub/**

  test:
    needs: build
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install langtags package and depedencies
      run: >-
        pip install six .
        sldr@git+https://github.com/silnrsi/sldrtools
        palaso@git+https://github.com/silnrsi/palaso-python
    - uses: actions/download-artifact@v4
      with:
        name: langtags
        path: pub
    # Test it.
    - name: Test langtags
      id: langtags
      run: |
        python3 -m unittest tests.test_json tests.python.test_python tests.test_basic
