name: Build
on:
  workflow_call:
    inputs:
      production:
        description: 'Is this a production build or not (default: false).'
        required: true
        type: boolean
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - name: Install langtags package and depedencies
      run: >-
        pip install six .
        sldr@git+https://github.com/silnrsi/sldrtools
        palaso@git+https://github.com/silnrsi/palaso-python

    - name: Download latest SLDR dependency
      uses: robinraju/release-downloader@v1
      with:
        repository: silnrsi/sldr
        latest: true
        preRelease: ${{ inputs.production != true }}
        extract: true
        fileName: sldr.zip

    - name: Generate langtags
      run: |
        make SLDR=unflat FLATDIR=flat build
    - uses: actions/upload-artifact@v4
      with:
        name: langtags
        path: |
          pub/**

  test:
    needs: build
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install langtags package and depedencies
      run: >-
        pip install six .
        sldr@git+https://github.com/silnrsi/sldrtools
        palaso@git+https://github.com/silnrsi/palaso-python
    - uses: actions/download-artifact@v4
      with:
        name: langtags
        path: pub

    - name: Test langtags
      id: langtags
      run: |
        python3 -m unittest tests.test_json tests.python.test_python tests.test_basic
