name: Deploy langtags.json for production
on:
  push:
    branches: [release]
    paths:
      - .github/workflows/**
      - bin/ltdb2alltags
      - bin/jsonlangtagstotxt
      - lib/**
      - source/**
      - tests/**
      - Makefile
      - setup.py
  repository_dispatch:
    types: [sldr-release-deployed]
jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      production: true

  deploy:
    needs: build
    uses: ./.github/workflows/deploy.yml
    with:
      path: .
    secrets:
      uploader_key: ${{ secrets.UPLOADER_SSH_KEY }}
      server_address: ${{ secrets.UPLOAD_TARGET }}
      repository_dispatch_pat: ${{ secrets.REPO_DISPATCH_TOKEN }}
